{% extends 'base.html' %}

{% block content %}
    <div class="max-w-3xl mt-8 mx-auto px-4">
        <div class="flex justify-between items-center">
            <h1 class="font-bold text-2xl">Ответы на вопрос</h1>
            <a class="link link-info font-bold text-xl" id="backLink" href="#">Назад</a>
        </div>

        {% set word_amount = question.question.strip().split() | length %}
        <span class="font-semibold opacity-50 italic {{ 'break-words' if word_amount > 1 else 'break-all' }}">
            {{ question.question }}
        </span>

        <ul id="answersList" class="space-y-4 bg-base-300 p-5 rounded-lg mt-4" data-question-id="{{ question.id }}">
            <li class="text-center">Нет ответов</li>
        </ul>
    </div>

    <template id="answerTemplate">
        <li class="flex items-center gap-2 w-full bg-base-200 rounded-xl py-1.5 px-4">
            <span class="flex-1 font-semibold text-base answer-text"></span>
            <div class="points-stats badge badge-soft badge-info py-2 font-semibold hidden"></div>
            <div class="answer-quantity badge badge-soft badge-info py-2 font-semibold"></div>
            <button class="btn btn-xs btn-error delete-btn">✕</button>
        </li>
    </template>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/answers.js') }}" type="module"></script>
{% endblock %}