{% extends 'base.html' %}

{% block content %}
    <div class="max-w-3xl mx-auto py-8 px-4">
        <div class="flex justify-between items-center">
            <h1 class="font-bold text-2xl">Ответы на вопрос</h1>
            <a class="link link-info font-bold text-xl" id="backLink" href="#">Назад</a>
        </div>

        {% set word_amount = question.question.strip().split() | length %}
        <span class="font-semibold opacity-50 italic {{ 'break-words' if word_amount > 1 else 'break-all' }}">
            {{ question.question }}
        </span>

        <div id="allAnswers" class="bg-base-300 rounded-lg space-y-6 mt-4 p-6" data-question-id="{{ question.id }}">
            <h2 class="text-xl font-bold text-center">Список ответов</h2>

            <div class="divider divider-start text-lg font-semibold">Топ-6 популярных ответов</div>

            <ul id="popularAnswers" class="space-y-4 px-2"></ul>

            <div class="divider divider-start text-lg font-semibold">Остальные ответы</div>

            <ul id="otherAnswers" class="space-y-4 px-2"></ul>
        </div>
    </div>

    <template id="answerTemplate">
        <li class="flex items-center gap-2 w-full bg-base-200 rounded-xl py-1.5 px-4">
            <span class="flex-1 font-semibold text-base answer-text"></span>
            <div class="points-stats badge badge-soft badge-info py-2 font-semibold hidden"></div>
            <div class="answer-quantity badge badge-soft badge-info py-2 font-semibold"></div>
            <button class="btn btn-xs btn-error delete-btn">✕</button>
        </li>
    </template>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/answers.js') }}" type="module"></script>
{% endblock %}