{% extends 'base.html' %}

{% block content %}
    <main class="max-w-3xl mx-auto py-8 px-4">
        <div class="flex justify-between items-center">
            <h1 class="font-bold text-2xl">Ответы на вопрос</h1>
            <a class="link link-info font-bold text-xl" id="backLink" onclick="history.back()">Назад</a>
        </div>

        <span class="font-semibold opacity-50 italic break-all">
            {{ question.question }}
        </span>

        <div class="bg-base-300 rounded-lg shadow-md space-y-6 mt-4 p-6">
            <h2 class="text-xl font-bold text-center mb-4">Добавить свой ответ</h2>

            <form id="addForm" class="flex gap-1">
                <label class="flex-1 floating-label">
                    <span>Текст ответа</span>
                    <input type="text" placeholder="Текст ответа" minlength="1" maxlength="40"
                           class="input input-md w-full text-base" id="answerInput" required />
                </label>

                <label class="floating-label">
                    <span>Кол-во</span>
                    <input type="number" placeholder="Кол-во" min="1" max="10" value="1"
                           class="input input-md w-full text-base" id="quantityInput" required />
                </label>

                <button class="btn btn-accent rounded-md">Добавить</button>
            </form>

            <h2 id="noAnswers" class="hidden text-xl font-bold text-center">Список ответов пустой</h2>

            <div id="allAnswers" class="hidden space-y-6" data-question-id="{{ question.id }}"
                 data-games-amount="{{ question.games | length }}">
                <h2 class="text-xl font-bold text-center mb-4">Список ответов</h2>

                <div class="divider divider-start text-lg font-semibold">Топ-6 популярных ответов</div>

                <ul id="popularAnswers" class="space-y-4 px-2"></ul>

                <div class="divider divider-start text-lg font-semibold">Остальные ответы</div>

                <ul id="otherAnswers" class="space-y-4 px-2"></ul>
            </div>
        </div>
    </main>

    <dialog class="modal" id="deleteDialog">
        <div class="modal-box bg-base-300 space-y-4">
            <h3 class="font-bold text-xl">Предупреждение</h3>

            <p class="font-semibold text-justify">
                У вопроса останется меньше шести уникальных ответов и он будет автоматически убран из всех игр, если
                данный ответ будет удалён. Игры станут недоступны.
            </p>

            <form method="dialog" class="flex justify-around">
                <button class="btn btn-soft btn-error" id="confirmDeleting">Удалить</button>
                <button class="btn btn-soft btn-info">Отменить</button>
            </form>
        </div>
    </dialog>

    <template id="answerTemplate">
        <li class="flex items-center max-sm:flex-col-reverse gap-2 w-full bg-base-200 rounded-xl py-1.5 px-4">
            <span class="flex-1 font-semibold text-base max-sm:text-center text-wrap break-all answer-text"></span>
            <div class="flex justify-between items-center max-sm:w-full gap-2">
                <div class="flex items-center gap-2">
                    <div class="points-stats badge badge-soft badge-info font-semibold hidden"></div>
                    <div class="answer-quantity badge badge-soft badge-info font-semibold"></div>
                </div>
                <button class="btn btn-xs btn-error delete-btn">✕</button>
            </div>
        </li>
    </template>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/answers.js') }}" type="module"></script>
{% endblock %}