{% extends 'base.html' %}

{% block content %}
<!-- Форма для регистрации и авторизации -->
<main class="flex items-center min-h-[calc(100vh-5rem)]">
    <div class="tabs tabs-lift max-w-lg mx-auto -mt-20 shadow-lg">
        <!-- Регистрация -->
        <input type="radio" name="my_tabs_2" class="tab [--tab-bg:var(--color-base-300)] text-base"
               aria-label="Регистрация" {{ "checked" if action_type == "registration" }} />

        <form class="tab-content bg-base-300 border-base-300 p-8" id="regForm" method="post">
            <h1 class="text-2xl font-bold mb-8">Добро пожаловать!</h1>


            <label class="floating-label block w-full mb-6">
                <span>Никнейм</span>
                <input type="text" placeholder="Никнейм" minlength="6" maxlength="30"
                       class="input w-full rounded-xl text-base" name="nickname" required />
            </label>

            <label class="floating-label block w-full mb-6">
                <span>Почта</span>
                <input type="email" placeholder="Почта" minlength="5" maxlength="100"
                       class="input w-full rounded-xl text-base" name="email" required />
            </label>

            <label class="floating-label block w-full mb-6">
                <span>Пароль</span>
                <input type="password" placeholder="Пароль" class="input w-full rounded-xl text-base" minlength="8"
                       maxlength="60" name="password" required />
            </label>

            <label class="floating-label block w-full mb-6">
                <span>Подтверждение пароля</span>
                <input type="password" placeholder="Подтверждение пароля" minlength="8" maxlength="60"
                       class="input w-full rounded-xl text-base" name="password-confirmation" required />
            </label>

            {% if error and action_type == "registration" %}
                <div role="alert" class="alert alert-error alert-soft mb-6">
                    <span>{{ error }}</span>
                </div>
            {% endif %}

            <button class="btn btn-primary block w-full rounded-xl text-base" type="submit">Зарегистрироваться</button>
            <input class="hidden" name="action-type" value="registration" />

        </form>

        <!-- Авторизация -->
        <input type="radio" name="my_tabs_2" class="tab [--tab-bg:var(--color-base-300)] text-base"
               aria-label="Авторизация" {{ "checked" if action_type == "login" }} />

        <form class="tab-content bg-base-300 border-base-300 p-8" id="loginForm" method="post">
            <h1 class="text-2xl font-bold mb-6">С возвращением!</h1>

            <label class="floating-label block w-full mb-6">
                <span>Почта</span>
                <input type="email" placeholder="Почта" minlength="5" maxlength="100"
                       class="input w-full rounded-xl text-base" name="email" required />
            </label>

            <label class="floating-label block w-full mb-6">
                <span>Пароль</span>
                <input type="password" placeholder="Пароль" minlength="8" maxlength="60"
                       class="input w-full rounded-xl text-base" name="password" required />
            </label>

            {% if error and action_type == "login" %}
                <div role="alert" class="alert alert-error alert-soft mb-6">
                    <span>{{ error }}</span>
                </div>
            {% endif %}

            <button class="btn btn-primary block w-full rounded-xl text-base" type="submit">Войти в аккаунт</button>
            <input class="hidden" name="action-type" value="login" />
        </form>
    </div>
</main>
{% endblock %}