{% extends 'base.html' %}
{% block content %}
    <main class=" max-w-3xl mx-auto py-8 px-4">
        <div class="flex justify-between items-center mb-8">
            <h1 class="font-bold text-2xl">Игра из шаблона</h1>
            <a class="link link-info font-bold text-xl" href="/games">Назад</a>
        </div>

        <form class="flex max-sm:flex-col gap-2 my-8" method="post" enctype="multipart/form-data">
            <input type="file" class="flex-1 w-full file-input file-input-success" name="file" accept=".xlsx" required/>
            <input type="submit" class="btn btn-success btn-soft" value="Отправить">
        </form>

        {% if error %}
            <div class="alert alert-warning alert-soft mt-10" role="alert">{{ error }}</div>
        {% endif %}

        <div class="bg-base-300 text-center rounded-lg shadow-md space-y-4 p-6">
            <h2 class="font-bold text-xl">Инструкция по созданию</h2>
            <p class="text-lg font-semibold">
                Для создания игры из шаблона необходимо скачать файл, нажав на кнопку ниже, и отправить заполненный с
                помощью формы.
                <br><br>
                <a class="btn btn-success" href="{{ url_for('static', filename='game_template.xlsx') }}"
                   download="GameTemplate.xlsx">Скачать шаблон</a>
            </p>
        </div>
    </main>
{% endblock %}