{% extends 'base.html' %}

{% block content %}
    <div class="max-w-3xl mt-8 mx-auto px-4">
        <div class="flex justify-between items-center">
            <h1 class="font-bold text-2xl">Игры</h1>
            <a class="link link-info font-bold text-xl" href="/profile">Назад</a>
        </div>

        <form id="addForm" class="bg-base-300 rounded-lg mt-4 p-6">
            <h1 class="text-2xl font-bold text-center mb-4">Создание игры</h1>

            <label class="floating-label block w-full mb-6">
                <span>Название игры</span>
                <input type="text" placeholder="Название игры" minlength="5" maxlength="50"
                       class="input w-full rounded-xl text-base" id="addInput" name="game" required />
            </label>

            <div class="divider divider-error text-lg font-semibold" id="listTitle">Вопросы для игры (0 / 7)</div>

            <ul id="questionsList" class="space-y-4 mb-4">
                {% for question in questions %}
                    {% if question.answers | length >= 6 %}
                        {% set word_amount = question.question.strip().split() | length %}
                        <li class="flex items-center gap-2 w-full bg-base-200 rounded-lg px-4 py-2" data-question-id="{{ question.id }}">
                            <span class="flex-1 font-semibold {{ 'break-words' if word_amount > 1 else 'break-all' }}">
                                {{ question.question }}
                            </span>

                            <div class="flex self-start items-center gap-2">
                                <a href="/answers/{{ question.id }}" class="btn btn-xs btn-soft btn-info">
                                    Ответы: {{ question.answers | length }}
                                </a>

                                <input type="checkbox" class="checkbox checkbox-sm checkbox-accent border-2" />
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <button class="btn btn-disabled btn-info rounded-xl" id="addButton" type="submit">Добавить игру</button>
        </form>

        <div class="divider text-2xl font-bold my-8">Список игр</div>

        <ul class="space-y-8 pb-8" id="gamesList">
            <li class="flex flex-col gap-4 w-full bg-base-300 rounded-xl p-6" data-id="">
                <div class="flex gap-2 items-center">
                    <h2 class="flex-1 text-xl font-bold truncate game-name">Example</h2>

                    <button class="btn btn-xs btn-ghost btn-square edit-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                    <path d="M16 5l3 3"></path>
                                </svg>
                    </button>

                    <button class="btn btn-xs btn-square btn-error delete-btn">✕</button>
                </div>

                <div class="collapse collapse-arrow bg-base-100 border border-base-300">
                    <input type="checkbox" name="game-questions" />
                    <div class="collapse-title bg-base-200 font-semibold">Вопросы для игры</div>
                    <ul class="collapse-content bg-base-200 space-y-4">
                        {% for question in gq %}
                            {% set word_amount = question.question.strip().split() | length %}
                            <li class="flex items-center gap-2 w-full bg-base-100 rounded-lg px-4 py-2" data-question-id="{{ question.id }}">
                                <span class="flex-1 font-semibold {{ 'break-words' if word_amount > 1 else 'break-all' }}">
                                    {{ question.question }}
                                </span>

                                <a href="/answers/{{ question.id }}" class="btn btn-xs btn-soft btn-info">
                                    Ответы: {{ question.answers | length }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="flex justify-around">
                    <a class="" href="#">
                        <button class="btn btn-soft btn-info">Начать игру</button>
                    </a>

                    <a class="" href="#">
                        <button class="btn btn-soft btn-accent">Отчёт об игре</button>
                    </a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/games.js') }}" type="module"></script>
{% endblock %}