{% extends 'base.html' %}

{% block content %}
    <div class="max-w-3xl space-y-6 mx-auto py-8 px-4">
        <div class="flex justify-between items-center">
            <h1 class="font-bold text-2xl">Список игр</h1>
            <div class="flex">
                <a class="link link-info font-bold text-xl" href="/games/game-add">Добавить игру</a>
                <div class="divider divider-horizontal"></div>
                <a class="link link-info font-bold text-xl" href="/profile">Назад</a>
            </div>
        </div>

        <ul class="space-y-6 pb-8" id="gamesList">
            {% for game in games %}
                <li class="flex flex-col gap-4 w-full bg-base-300 rounded-xl py-4 px-6" data-id="{{ game.id }}">
                    <div class="flex gap-2 items-center">
                        <h2 class="flex-1 text-xl font-bold truncate game-name">{{ game.game }}</h2>

                        <a class="btn btn-xs btn-ghost btn-square edit-btn" href="/games/game-edit/{{ game.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                <path d="M16 5l3 3"></path>
                            </svg>
                        </a>

                        <button class="btn btn-xs btn-square btn-error delete-btn">✕</button>
                    </div>

                    <div class="collapse collapse-arrow bg-base-100 border border-base-300">
                        <input type="checkbox" name="game-questions"/>
                        <div class="collapse-title bg-base-200 font-semibold">Вопросы для игры</div>
                        <ul class="collapse-content bg-base-200 space-y-4">
                            {% for question in game.questions %}
                                <li class="flex items-center gap-2 w-full bg-base-100 rounded-lg px-4 py-2"
                                    data-question-id="{{ question.id }}">
                                    <span class="flex-1 font-semibold break-all">
                                        {{ question.question }}
                                    </span>

                                    <a href="/answers/{{ question.id }}" class="btn btn-xs btn-soft btn-info">
                                        Ответы: {{ question.answers | length }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="flex justify-around">
                        <a class="flex-1 text-center" href="#">
                            <button class="btn btn-block btn-soft btn-info max-w-3/5">Начать игру</button>
                        </a>

                        <a class="flex-1 text-center" href="/game-info/{{ game.id }}">
                            <button class="btn btn-block btn-soft btn-accent max-w-3/5">Отчёт для ведущего</button>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='scripts/games.js') }}" type="module"></script>
{% endblock %}