{% extends 'base.html' %}

{% block content %}
    <main class="max-w-3xl mt-8 mx-auto px-4 pb-8">
        <div class="flex justify-between items-center">
            <h1 class="font-bold text-2xl">Вопросы опроса</h1>
            <a class="link link-info font-bold text-xl" href="/polls">Назад</a>
        </div>

        <span class="font-semibold opacity-50 italic">{{ poll.poll }}</span>

        <div class="mt-6">
            <div class="divider divider-start text-xl font-semibold">Добавленные ({{ poll.questions | length }})</div>
            <ul id="pollQuestions" class="space-y-4 px-2">
                {% for question in poll.questions %}
                    <li class="flex items-center gap-2 w-full bg-base-300 rounded-lg shadow-sm px-4 py-2 break-all"
                        data-question-id="{{ question.id }}">
                        <span class="flex-1 font-semibold text-wrap">
                            {{ question.question }}
                        </span>

                        <div class="flex self-start items-center gap-2">
                            <a href="/answers/{{ question.id }}" class="btn btn-xs btn-soft btn-info">
                                Ответы: {{ question.answers | length }}
                            </a>

                            <input type="checkbox" class="checkbox checkbox-sm checkbox-accent border-2" checked />
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="my-8">
            <div class="divider divider-start text-xl font-semibold">Доступные ({{ other_questions | length }})</div>
            <ul id="noPollQuestions" class="space-y-4 px-2">
                {% for question in other_questions %}
                    <li class="flex items-center gap-4 w-full bg-base-300 rounded-lg shadow-sm px-4 py-2 break-all"
                        data-question-id="{{ question.id }}">
                        <span class="flex-1 font-semibold text-wrap">
                            {{ question.question }}
                        </span>

                        <div class="flex self-start items-center gap-2">
                            <a href="/answers/{{ question.id }}"
                               class="btn btn-xs btn-soft btn-info">
                                Ответы: {{ question.answers | length }}
                            </a>

                            <input type="checkbox" class="checkbox checkbox-sm checkbox-accent border-2" />
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <a href="/polls" class="flex justify-center items-center btn btn-accent block max-w-1/2 mx-auto">
            Вернуться к списку опросов
        </a>

        <button class="btn btn-secondary fixed bottom-15 right-15" id="saveButton" data-poll-id="{{ poll.id }}">
            Сохранить
        </button>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/pollQuestions.js') }}" type="module"></script>
{% endblock %}