{% extends 'base.html' %}

{% block content %}
    <div class="max-w-3xl mx-auto px-4 mt-5">
        <h1 class="text-center font-bold text-3xl">Опросы</h1>

        <form id="addForm" class="my-8">
            <div class="join w-full">
                <div class="flex-1">
                    <label class="input join-item w-full">
                        <input type="text" placeholder="Название опроса" minlength="2" maxlength="100" required
                               class="text-base" id="addInput"/>
                    </label>
                </div>
                <button class="btn btn-accent join-item">Добавить</button>
            </div>
        </form>

        <div id="pollsList" class="space-y-3">
            {% for poll in polls %}
                <div class="flex flex-col gap-1 w-full bg-base-300 rounded-sm px-4 py-3" data-id="{{ poll.id }}">
                    <div class="flex gap-2 items-center">
                        <h2 class="flex-1 text-xl font-bold truncate poll-name">{{ poll.poll }}</h2>
                        <button class="btn btn-sm btn-ghost edit-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                <path d="M16 5l3 3"></path>
                            </svg>
                        </button>
                        <button class="btn btn-sm btn-error delete-btn">✕</button>
                    </div>

                    <div class="divider horizontal-divider text-lg font-semibold">Информация об опросе</div>

                    <div class="flex justify-around">
                        <div class="flex flex-1 flex-col items-center gap-2">
                            <span class="flex-1 font-semibold">Вопросы ({{ len(poll.questions) }})</span>
                            <a class="block w-1/2" href="/poll-questions/{{ poll.id }}">
                                <button class="btn btn-sm btn-soft btn-info w-full">Изменить</button>
                            </a>
                        </div>

                        <div class="flex flex-1 flex-col items-center gap-2">
                            <a class="flex-1 font-semibold public-link" href="#">Ссылка на опрос</a>
                            <a class="block w-1/2">
                                <button class="btn btn-sm btn-soft btn-success w-full to-clipboard">Скопировать</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <dialog class="modal">
        <div class="modal-box bg-base-300">
            <h3 class="font-bold text-lg">Изменение опроса</h3>
            <input type="text" class="input input-bordered w-full mt-4" id="editInput"/>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-info" id="saveEdit">Сохранить</button>
                    <button class="btn ml-2">Отменить</button>
                </form>
            </div>
        </div>
    </dialog>

    <script src="{{ url_for("static", filename="scripts/polls.js") }}"></script>
{% endblock %}