{% extends 'base.html' %}

{% block content %}
    <div class="max-w-2xl mx-auto pt-12 px-4">
        {% if not poll %}
            <h1 class="text-center font-bold text-2xl">Ошибка: Такого опроса не существует</h1>
        {% else %}
            <form id="pollForm" class="bg-base-300 rounded-xl p-6" method="post">
                <h1 class="text-center font-bold text-2xl">Опрос: {{ poll.poll }}</h1>

                {% for question in poll.questions %}
                    <fieldset class="fieldset mt-2">
                        <legend class="fieldset-legend text-lg">{{ question.question }}</legend>
                        <input type="text" placeholder="Ваш ответ" minlength="1" maxlength="40"
                               class="input w-full rounded-xl text-base" name="answer-{{ loop.index }}" required />
                    </fieldset>
                {% endfor %}

                {% if error %}
                    <div role="alert" class="alert alert-error alert-soft mb-6">
                        <span>{{ error }}</span>
                    </div>
                {% endif %}

                <button class="btn btn-base btn-info rounded-xl text-base mt-4" type="submit">Отправить</button>
            </form>
        {% endif %}
    </div>
{% endblock %}