{% extends 'base.html' %}

{% block content %}
    <main class="flex items-center min-h-[calc(100vh-5rem)]">
        <div class="max-w-2xl w-full mx-auto px-4 py-12">
            {% if not poll or poll.questions | length == 0 %}
                <div class="bg-base-300 rounded-xl text-center space-y-4 p-8">
                    <h1 class="font-bold text-3xl">Такого опроса не существует</h1>

                    <p class="font-semibold text-lg">
                        Приносим извинения за доставленные неудобства! Вы можете покинуть сайт по кнопке ниже.
                    </p>

                    <a class="btn btn-accent text-base rounded-lg" href="https://google.com">Покинуть сайт</a>
                </div>
            {% else %}
                <form id="pollForm" class="bg-base-300 rounded-xl p-6" method="post">
                    <h1 class="text-2xl font-bold">Прохождение опроса</h1>

                    <span class="font-semibold opacity-50 italic break-all">{{ poll.poll }}</span>

                    <ul class="my-4 space-y-2">
                        {% for question in poll.questions %}
                            <li>
                                <fieldset class="fieldset">
                                    <legend class="fieldset-legend text-lg break-all">
                                        {{ loop.index }}. {{ question.question }}
                                    </legend>

                                    <input type="text" placeholder="Ваш ответ" minlength="1" maxlength="40"
                                           class="input w-full rounded-xl text-base" name="answer-{{ loop.index }}" required />
                                </fieldset>
                            </li>
                        {% endfor %}
                    </ul>

                    {% if error %}
                        <div role="alert" class="alert alert-error alert-soft mb-6">
                            <span>{{ error }}</span>
                        </div>
                    {% endif %}

                    <button class="btn btn-base btn-info rounded-xl text-base max-sm:w-full" type="submit">Отправить</button>
                </form>
            {% endif %}
        </div>
    </main>
{% endblock %}