{% extends 'base.html' %}

{% block content %}
    <div class="max-w-3xl mx-auto px-4 pb-5">
        <h1 class="text-center font-bold text-3xl my-6">Вопросы опроса "{{ poll.poll }}"</h1>

        <div class="mb-8">
            <div class="divider divider-start text-xl font-semibold">Добавленные</div>
            <ul id="pollQuestions" class="px-4 space-y-4">
                {% for question in poll.questions %}
                    <li class="flex items-center gap-2 w-full bg-base-300 rounded-lg px-4 py-2"
                        data-question-id="{{ question.id }}">
                        <span class="flex-1 font-semibold">{{ question.question }}</span>
                        <a href="/answers/{{ question.id }}"
                           class="btn btn-outline {{ 'btn-info' if len(question.answers) < 100 else 'btn-success' }} btn-xs">
                            Ответов: {{ len(question.answers) }}
                        </a>
                        <input type="checkbox" class="checkbox border-2 border-accent checkbox-sm" checked/>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="mb-8">
            <div class="divider divider-start text-xl font-semibold">Доступные</div>
            <ul id="noPollQuestions" class="px-4 space-y-4">
                {% for question in other_questions %}
                    <li class="flex items-center gap-2 w-full bg-base-300 rounded-lg px-4 py-2"
                        data-question-id="{{ question.id }}">
                        <span class="flex-1 font-semibold">{{ question.question }}</span>
                        <a href="/answers/{{ question.id }}"
                           class="btn btn-outline {{ 'btn-info' if len(question.answers) < 100 else 'btn-success' }} btn-xs">
                            Ответов: {{ len(question.answers) }}</a>
                        <input type="checkbox" class="checkbox border-2 border-accent checkbox-sm"/>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a href="/polls" class="btn btn-accent mx-auto block max-w-xs flex items-center justify-center">Вернуться к
            списку опросов</a>
        <button class="btn btn-secondary fixed bottom-15 right-15" id="saveButton" data-poll-id="{{ poll.id }}">
            Сохранить
        </button>
        <script src="{{ url_for('static', filename='scripts/pollQuestions.js') }}"></script>
    </div>
{% endblock %}