{% extends 'base.html' %}

{% block content %}
    <main class="flex items-center min-h-[calc(100vh-5rem)] max-xl:py-8">
        <div class="flex flex-wrap justify-center gap-8 max-w-7xl mx-auto px-8">
            <div class="flex-none max-sm:w-full max-xl:w-2/3 min-xl:w-sm bg-base-300 rounded-xl p-5 space-y-4">
                <h1 class="text-3xl font-bold text-center">Вопросы</h1>

                <p class="bg-base-200 rounded-xl text-lg text-justify font-semibold p-2">
                    Вопросы - это строительный блок игр. Создавайте вопросы, собирайте статистику о шести самых популярных
                    ответов. Управление статистикой происходит вручную через интерфейс сайта.
                </p>

                <a class="w-full" href="/questions">
                    <button class="btn btn-block btn-accent text-lg">Мои вопросы</button>
                </a>
            </div>
            <div class="flex-none max-sm:w-full max-xl:w-2/3 min-xl:w-sm bg-base-300 rounded-xl p-5 space-y-4">
                <h1 class="text-3xl font-bold text-center">Опросы</h1>

                <p class="bg-base-200 rounded-xl text-lg text-justify font-semibold p-2">
                    Для сбора статистики используйте систему опросов. Создайте опрос, добавьте вопросы и делитесь ссылкой
                    для прохождения. Один вопрос может использоваться в нескольких опросах.
                </p>

                <a href="/polls">
                    <button class="btn btn-block btn-accent text-lg">Мои опросы</button>
                </a>
            </div>
            <div class="flex-none max-sm:w-full max-xl:w-2/3 min-xl:w-sm bg-base-300 rounded-xl p-5 space-y-4">
                <h1 class="text-3xl font-bold text-center">Игры</h1>

                <p class="bg-base-200 rounded-xl text-lg text-justify font-semibold p-2">
                    Для проведения игры требуется семь вопросов со статистикой: четыре - для раундов, три - для разыгровки
                    первенства ответа. Вы управляете игрой самостоятельно, используя интерфейс сайта.
                </p>

                <a href="/games">
                    <button class="btn btn-block btn-accent text-lg">Мои игры</button>
                </a>
            </div>
        </div>
    </main>
{% endblock %}