{% extends 'base.html' %}

{% block content %}
    <main class="flex items-center min-h-[calc(100vh-5rem)] py-8">
        <div class="flex flex-wrap justify-center gap-8 max-w-7xl mx-auto px-8">
            <div class="flex-none max-sm:w-full max-xl:w-2/3 min-xl:w-sm bg-base-300 rounded-xl shadow-md p-5 space-y-4">
                <h1 class="text-3xl font-bold text-center">Вопросы</h1>

                <p class="bg-base-200 rounded-xl text-lg text-justify font-semibold p-2">
                    Вопросы &ndash; это основа игры. Создавайте вопросы, собирайте статистику о самых популярных ответах.
                    Управление статистикой происходит через интерфейс сайта.
                </p>

                <a class="w-full" href="/questions">
                    <button class="btn btn-block btn-accent text-lg">Мои вопросы</button>
                </a>
            </div>
            <div class="flex-none max-sm:w-full max-xl:w-2/3 min-xl:w-sm bg-base-300 rounded-xl shadow-md p-5 space-y-4">
                <h1 class="text-3xl font-bold text-center">Опросы</h1>

                <p class="bg-base-200 rounded-xl text-lg text-justify font-semibold p-2">
                    Чтобы собрать статистику, создайте опрос, добавьте вопросы и делитесь
                    ссылкой для прохождения. Один вопрос может использоваться в нескольких опросах.
                </p>

                <a href="/polls">
                    <button class="btn btn-block btn-accent text-lg">Мои опросы</button>
                </a>
            </div>
            <div class="flex-none max-sm:w-full max-xl:w-2/3 min-xl:w-sm bg-base-300 rounded-xl shadow-md p-5 space-y-4">
                <h1 class="text-3xl font-bold text-center">Игры</h1>

                <p class="bg-base-200 rounded-xl text-lg text-justify font-semibold p-2">
                    Для игры требуется семь вопросов: четыре &ndash; для раундов, три &ndash; для
                    розыгрышей права первого ответа. Вы управляете игрой сами, используя интерфейс сайта.
                </p>

                <a href="/games">
                    <button class="btn btn-block btn-accent text-lg">Мои игры</button>
                </a>
            </div>
        </div>
    </main>
{% endblock %}