{% extends 'base.html' %}

{% block content %}
    <main class="max-w-3xl mx-auto py-8 px-4">
        <div class="flex justify-between items-center">
            <h2 class="font-bold text-2xl">Вопросы</h2>
            <div class="flex">
                <a class="link link-info font-bold text-xl" id="addLink">Создать</a>
                <div class="divider divider-horizontal"></div>
                <a class="link link-info font-bold text-xl" href="/profile">Назад</a>
            </div>
        </div>

        <div class="divider text-xl font-semibold my-6">Список вопросов</div>

        <div class="w-full mb-6 px-2">
            <label class="input w-full text-base">
                <svg class="h-5 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.3-4.3"></path>
                    </g>
                </svg>
                <input type="text" placeholder="Найти вопросы по тексту..." maxlength="250" id="searchInput" />
            </label>
        </div>
        
        <ul id="questionsList" class="space-y-5 px-2">
            {% for question in questions %}
                <li class="flex items-center gap-4 w-full bg-base-300 rounded-lg shadow-sm px-4 py-2"
                    data-id="{{ question.id }}" data-games-amount="{{ question.games | length }}">

                    <span class="flex-1 font-semibold break-all">{{ question.question }}</span>

                    <div class="flex self-start items-center gap-2">
                        <a href="/answers/{{ question.id }}" class="btn btn-xs btn-soft btn-info">
                            Ответы: {{ question.answers | length }}
                        </a>

                        <button class="btn btn-xs btn-ghost btn-square edit-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"/>
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"/>
                                <path d="M16 5l3 3"/>
                            </svg>
                        </button>

                        <button class="btn btn-xs btn-square btn-error delete-btn">✕</button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>

    <dialog class="modal" id="addDialog">
        <div class="modal-box bg-base-300">
            <h3 class="font-bold text-xl">Создание вопроса</h3>

            <input type="text" placeholder="Текст вопроса" minlength="4" maxlength="250" required
                   class="input input-bordered w-full text-base mt-4" id="addInput" />

            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-soft btn-success" id="addConfirm">Создать</button>
                    <button class="btn ml-2">Отменить</button>
                </form>
            </div>
        </div>
    </dialog>

    <dialog class="modal" id="editDialog">
        <div class="modal-box bg-base-300">
            <h3 class="font-bold text-xl">Изменение вопроса</h3>

            <input type="text" placeholder="Текст вопроса" minlength="4" maxlength="250" autocomplete="off"
                   class="input input-bordered w-full text-base mt-4" id="editInput" />

            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-soft btn-info" id="editConfirm">Изменить</button>
                    <button class="btn ml-2">Отменить</button>
                </form>
            </div>
        </div>
    </dialog>

    <dialog class="modal" id="deleteDialog">
        <div class="modal-box bg-base-300 space-y-4">
            <h3 class="font-bold text-xl">Предупреждение</h3>

            <p class="font-semibold text-justify">
                Игры, в которых содержится данный вопрос, станут недоступны после его удаления.
            </p>

            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-soft btn-error" id="deleteConfirm">Удалить</button>
                    <button class="btn ml-2">Отменить</button>
                </form>
            </div>
        </div>
    </dialog>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/questions.js') }}" type="module"></script>
{% endblock %}