{% extends 'base.html' %}

{% block content %}
    <div class="max-w-2xl mx-auto px-4">
        <h1 class="text-center font-bold text-3xl my-6">Ответы и статистика</h1>
        <ul id="answersList" class="space-y-4 bg-base-300 p-5 rounded-lg" data-question-id="{{ question_id }}"></ul>
    </div>
    <template id="answerTemplate">
        <li class="flex items-center w-full bg-base-100 rounded-xl px-4 py-1">
            <span class="flex-1 font-semibold text-base answer-text"></span>
            <button class="btn btn-xs btn-error delete-btn">✕</button>
        </li>
    </template>
    <script src="{{ url_for('static', filename='scripts/answers.js') }}"></script>
{% endblock %}