{% extends 'base.html' %}

{% block content %}
    <div class="max-w-3xl mx-auto px-3 mt-5">
        <h3 class="text-center font-bold text-2xl">Вопросы</h3>
        <form id="addForm" class="my-8 px-2">
            <div class="join w-full gap-1">
                <div class="flex-1">
                    <label class="input join-item w-full">
                        <input type="text" placeholder="Текст вопроса" required minlength="4" maxlength="250"
                               id="addInput"/>
                    </label>
                </div>
                <button class="btn btn-soft btn-primary join-item">Добавить</button>
            </div>
        </form>
        <div id="questionsList" class="space-y-3">
            {% for question in questions %}
                <div class="w-full flex gap-1 bg-base-300 rounded-sm p-2 items-center" data-id="{{ question.id }}">
                    <span class="flex-1">{{ question.name }}</span>
                    <button class="btn btn-sm btn-ghost edit-btn">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-4 w-4"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"/>
                            <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"/>
                            <path d="M16 5l3 3"/>
                        </svg>
                    </button>
                    <button class="btn btn-xs btn-error delete-btn">✕</button>
                </div>
            {% endfor %}
        </div>
    </div>
    <dialog class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Изменить вопрос</h3>
            <input type="text" class="input input-bordered w-full mt-4" id="editInput"/>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-primary" id="saveEdit">Сохранить</button>
                    <button class="btn ml-2">Отменить</button>
                </form>
            </div>
        </div>
    </dialog>

    <script src="{{ url_for("static", filename="scripts/questions.js") }}"></script>
{% endblock %}