{% extends 'base.html' %}
{% block content %}
    <main class="flex flex-col justify-center space-y-4 max-w-lg min-h-[calc(100vh-5rem)] mx-auto px-4">
        <div class="flex justify-between items-center">
            <h1 class="font-bold text-2xl">Настройки профиля</h1>
            <a class="link link-info font-bold text-xl" href="/profile">Назад</a>
        </div>

        <div class="tabs tabs-lift mt-2">
            <!-- Изменение данных -->
            <input type="radio" name="my_tabs_2" class="tab [--tab-bg:var(--color-base-300)] text-base"
                   aria-label="Изменение" {{ "checked" if action_type == "edit_data" }} />

            <form class="tab-content bg-base-300 border-base-300 shadow-lg px-8 py-6" method="post">
                <h2 class="text-xl font-bold mb-6">Изменение профиля</h2>

                <label class="floating-label block w-full mb-6">
                    <span>Никнейм</span>
                    <input type="text" placeholder="Никнейм" minlength="6" maxlength="30"
                           class="input w-full rounded-xl text-base" name="nickname"
                           value="{{ current_user.nickname }}" />
                </label>

                <label class="floating-label block w-full mb-6">
                    <span>Почта</span>
                    <input type="email" placeholder="Почта" minlength="5" maxlength="100"
                           class="input w-full rounded-xl text-base" name="email"
                           value="{{ current_user.email }}" />
                </label>

                <label class="floating-label block w-full mb-4">
                    <span>Пароль</span>
                    <input type="password" placeholder="Введите пароль" class="input w-full rounded-xl text-base"
                           minlength="8" maxlength="60" name="password" required />
                </label>

                {% if error and action_type == "edit_data" %}
                    <div role="alert" class="alert alert-error alert-soft mb-4">
                        <span>{{ error }}</span>
                    </div>
                {% endif %}

                <button class="btn btn-info block w-full rounded-xl text-base" type="submit">Изменить данные</button>
                <input class="hidden" name="action-type" value="edit_data" />
            </form>

            <!-- Изменение пароля -->
            <input type="radio" name="my_tabs_2" class="tab [--tab-bg:var(--color-base-300)] text-base"
                   aria-label="Смена пароля" {{ "checked" if action_type == "new_password" }} />

            <form class="tab-content bg-base-300 border-base-300 shadow-lg px-8 py-6" method="post">
                <h2 class="text-xl font-bold mb-6">Смена пароля</h2>

                <label class="floating-label block w-full mb-6">
                    <span>Старый пароль</span>
                    <input type="password" placeholder="Старый пароль" class="input w-full rounded-xl text-base"
                           minlength="8" maxlength="60" name="old_password" required />
                </label>

                <label class="floating-label block w-full mb-6">
                    <span>Новый пароль</span>
                    <input type="password" placeholder="Новый пароль" class="input w-full rounded-xl text-base"
                           minlength="8" maxlength="60" name="new_password" required />
                </label>

                <label class="floating-label block w-full mb-4">
                    <span>Подтверждение</span>
                    <input type="password" placeholder="Подтвердите новый пароль" class="input w-full rounded-xl text-base"
                           minlength="8" maxlength="60" name="new_confirmation" required />
                </label>

                {% if error and action_type == "new_password" %}
                    <div role="alert" class="alert alert-error alert-soft mb-4">
                        <span>{{ error }}</span>
                    </div>
                {% endif %}

                <button class="btn btn-info block w-full rounded-xl text-base" type="submit">Сменить пароль</button>
                <input class="hidden" name="action-type" value="new_password" />
            </form>


            <!-- Удаление аккаунта -->
            <input type="radio" name="my_tabs_2" class="tab [--tab-bg:var(--color-base-300)] text-base"
                   aria-label="Удаление" {{ "checked" if action_type == "remove" }} />

            <form class="tab-content bg-base-300 border-base-300 shadow-lg px-8 py-6" id="removeForm" method="post">
                <h2 class="text-xl font-bold mb-6">Удаление аккаунта</h2>

                <label class="floating-label block w-full mb-4">
                    <span>Пароль</span>
                    <input type="password" placeholder="Пароль" minlength="8" maxlength="60"
                           class="input w-full rounded-xl text-base" name="password" required />
                </label>

                {% if error and action_type == "remove" %}
                    <div role="alert" class="alert alert-error alert-soft mb-4">
                        <span>{{ error }}</span>
                    </div>
                {% endif %}

                <button class="btn btn-error block w-full rounded-xl text-base text-white" type="submit">Удалить аккаунт</button>
                <input class="hidden" name="action-type" value="remove" />
            </form>
        </div>
    </main>
{% endblock %}