{% extends 'base.html' %}

{% block content %}
    <main class="max-w-3xl mx-auto py-8 px-4">
        <div class="flex justify-between items-center">
            <h2 class="font-bold text-2xl">Игры</h2>
            <a class="link link-info font-bold text-xl" href="/profile">Назад</a>
        </div>

        <div class="divider text-xl font-semibold my-6">Добавление игры</div>

        <div class="flex justify-center items-center gap-x-18 max-[725px]:gap-x-16 max-[625px]:gap-x-8 px-2">
            <a class="btn btn-soft btn-info flex-1 max-w-1/5 max-[625px]:max-w-1/4 max-[500px]:max-w-1/3" href="/games/game-add">
                На сайте
            </a>
            <div class="divider divider-horizontal font-semibold">ИЛИ</div>
            <a class="btn btn-soft btn-success flex-1 max-w-1/5 max-[625px]:max-w-1/4 max-[500px]:max-w-1/3" href="/games/excel-import">
                Шаблон
            </a>
        </div>

        <div class="divider text-xl font-semibold my-6">Список игр</div>

        <ul class="space-y-6 px-2" id="gamesList">
            {% for game in games %}
                <li class="flex flex-col gap-4 w-full bg-base-300 rounded-xl shadow-md py-4 px-6" data-id="{{ game.id }}">
                    <div class="flex gap-2 items-center">
                        <h3 class="flex-1 text-xl font-bold truncate game-name">{{ game.game }}</h3>

                        <a class="btn btn-xs btn-ghost btn-square edit-btn" href="/games/game-edit/{{ game.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                <path d="M16 5l3 3"></path>
                            </svg>
                        </a>

                        <button class="btn btn-xs btn-square btn-error delete-btn">✕</button>
                    </div>

                    {% if game.questions | length != 7 %}
                        <div role="alert" class="alert alert-soft alert-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                            </svg>
                            <span>Вы не можете запустить игру из-за нехватки вопросов ({{ game.questions | length }} / 7)</span>
                        </div>
                    {% endif %}

                    <div class="collapse collapse-arrow bg-base-100 border border-base-300">
                        <input type="checkbox" name="game-questions" />
                        <div class="collapse-title bg-base-200 font-semibold">Вопросы для игры</div>
                        <ul class="collapse-content bg-base-200 space-y-4">
                            {% for question in game.questions %}
                                <li class="flex items-center gap-2 w-full bg-base-100 rounded-lg px-4 py-2"
                                    data-question-id="{{ question.id }}">
                                    <span class="flex-1 font-semibold break-all">
                                        {{ question.question }}
                                    </span>

                                    <a href="/answers/{{ question.id }}" class="btn btn-xs btn-soft btn-info">
                                        Ответы: {{ question.answers | length }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="flex justify-around">
                        <a class="btn btn-soft btn-info flex-1 max-w-1/4 max-[625px]:max-w-1/3
                           {{ 'btn-disabled' if game.questions | length != 7 }}"
                           href="/games/game-play/{{ game.id }}">
                            Начать игру
                        </a>
                        <a class="btn btn-soft btn-accent flex-1 max-w-1/4 max-[625px]:max-w-1/3"
                           href="/games/game-info/{{ game.id }}">
                            Для ведущего
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>
    <script src="{{ url_for('static', filename='scripts/games.js') }}" type="module"></script>
{% endblock %}