{% extends 'base.html' %}

{% block content %}
    <main class="flex items-center min-h-[calc(100vh-5rem)]">
        <div class="max-w-2xl w-full mx-auto px-4">
            <div class="bg-base-300 rounded-xl text-center space-y-4 p-8">
                <h1 class="font-bold text-3xl">Опрос пройден!</h1>
                <p class="font-semibold text-lg">
                    Благодарим за участие! Ваши ответы были зачтены и добавлены в статистику вопроса. Вы можете покинуть
                    сайт.
                </p>
                <a class="btn btn-accent text-base rounded-lg" href="/">На главную</a>
            </div>
        </div>
    </main>
{% endblock %}