{% extends 'base.html' %}

{% block content %}
    <main class="max-w-3xl mx-auto py-8 px-4">
        <div class="divider text-2xl font-bold">Как играть</div>

        <ul class="space-y-6 mt-8 px-2">
            <li class="collapse collapse-arrow bg-base-300">
                <input type="checkbox"/>
                <h3 class="collapse-title text-xl font-semibold"> Общая информация </h3>
                <p class="collapse-content text-justify">
                    В игре команды соревнуются, отгадывая ответы на вопросы, заданные множеству людей. Побеждает
                    команда, которая к концу игры набрала больше очков.
                    <br><br>
                    Чтобы открыть вопрос, надо нажать на него мышью. Строчки можно открывать так же или же цифрами
                    на клавиатуре. По окончании игрового этапа открываются все оставшиеся вариант ответа.
                </p>
            </li>

            <li class="collapse collapse-arrow bg-base-300">
                <input type="checkbox"/>
                <h3 class="collapse-title text-xl font-semibold">Розыгрыш</h3>
                <p class="collapse-content text-justify">
                    Розыгрыш предваряет игровые раунды. Представители команд соревнуются за право первого ответа.
                    Они на скорость называют по варианту ответа &ndash; побеждает та команда, за которой более
                    популярный вариант. С ней начинается раунд.
                    <br><br>
                    Ведущему надо открыть хотя бы одну из строк. После этого можно нажать на карточку команды, которая
                    назвала более популярный ответ. У команд активны кнопки промаха. Если нажаты все шесть (т.е. три
                    раза никто ничего не угадал), то победитель выбирается случайно.
                </p>
            </li>

            <li class="collapse collapse-arrow bg-base-300">
                <input type="checkbox"/>
                <h3 class="collapse-title text-xl font-semibold">Простая игра</h3>
                <p class="collapse-content text-justify">
                    Раунд начинается с той командой, которая взяла розыгрыш. Ее члены по одному называют варианты
                    ответа, пока не будет допущено три промаха. После этого право ответа переходит к следующей команде.
                    <br><br>
                    Участники второй команды совещаются и называют свой вариант ответа. Если он верен, то весь
                    накопленный банк, включая данный ответ, уходит ей. Если вторая команда ошибается, то банк получает
                    первая.
                    <br><br>
                    Активная команда подсвечена, у нее активны кнопки промаха. Свечение переходит на другую команду
                    вместе с правом ответа.
                </p>
            </li>

            <li class="collapse collapse-arrow bg-base-300">
                <input type="checkbox"/>
                <h3 class="collapse-title text-xl font-semibold">Двойная игра и Тройная игра</h3>
                <p class="collapse-content text-justify">
                    Проходят так же, как и Простая игра, только очки удваиваются или утраиваются соответственно.
                </p>
            </li>

            <li class="collapse collapse-arrow bg-base-300">
                <input type="checkbox"/>
                <h3 class="collapse-title text-xl font-semibold">Игра Наоборот </h3>
                <div class="collapse-content text-justify">
                    Это особый раунд: он начинается без розыгрыша с командой-аутсайдером. Здесь менее популярные ответы
                    приносят больше очков, а сами очки фиксированы:

                    <table class="table table-sm max-w-40 my-6">
                        <tr>
                            <th colspan="2">Распределение очков</th>
                        </tr>
                        <tr>
                            <td>1 строка</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>2 строка</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>3 строка</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>4 строка</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <td>5 строка</td>
                            <td>180</td>
                        </tr>
                        <tr>
                            <td>6 строка</td>
                            <td>240</td>
                        </tr>
                    </table>

                    К сожалению, здесь иногда возникает баг с переходом свечения сразу после первого промаха. Ошибка
                    чисто визуальная, логика игры не нарушается.
                </div>
            </li>
    </main>
{% endblock %}